Repository Minori-ty/vite-js-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

test
  .cz-config.js
  .vscode/settings.json
  commitlint.config.cjs
  commitlint.config.js
  package-lock.json
Due: eslint

:sparkles:(styles): 修改提交msg
  .lintstagedrc.cjs
Due: none

:art:(hooks): git
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

sparkles(hooks): 添加校验
  .cz-config.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.cjs
  commitlint.config.cjs
  package.json
  yarn.lock
Due: eslint

sparkles(hooks): 添加缓存
  .gitignore
  .vscode/settings.json
  commitlint.config.cjs
  package.json
  prettier.config.js
Due: eslint

sparkles(hooks): 添加缓存
  .lintstagedrc.cjs
  auto-imports.d.ts
  package.json
Due: none

:wrensh:(other): 修复stylelint配置
  .gitignore
  .stylelintrc.js
  .vscode/settings.json
  src/App.vue
  src/main.js
  src/styles/variables.scss
  vite.config.js
  yarn.lock
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: src/**/*.{vue,css,less}
