Repository Minori-ty/vite-js-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.{js,vue}": "eslint",
    "src/**/*.{vue,css,less}": "stylelint"
}

feat(api): api
  .lintstagedrc
Due: none

feat(api): feat(api): api
  .lintstagedrc
  .lintstagedrc.js
Due: eslint

feat(api): api
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.js
Due: eslint

feat(api): feat(api): api
  .husky/pre-push
  .huskyrc.js
Due: eslint

feat(api): api
  .husky/.lintstagedrc.js
Due: eslint

feat(api): a
  .husky/lintstagedrc.js
  .husky/pre-commit
  .huskyrc.js
  .lintstagedrc.js
Due: eslint

feat(api): api
  .husky.back/commit-msg
  .husky.back/lintstagedrc.js
  .husky.back/pre-commit
  .husky.back/pre-push
  .huskyrc.js
Due: eslint

feat(api): api
  .huskyrc.js
Due: eslint

feat(api): feat(api): api
  .huskyrc.js
Due: eslint

feat(api): build
  .husky.back/pre-push
  .huskyrc.js
  .huskyrc.json
  package.json
Due: eslint

feat(api): a
  .husky/commit-msg
  .husky/lintstagedrc.js
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
Due: eslint

feat(api): api
  .husky/pre-push
  package.json
Due: none

feat(api): a
  .husky/lintstagedrc.js
Due: eslint

feat(api): a
  vite.config.js
Due: eslint

feat(api): a
  .husky/pre-commit
  vite.config.js
Due: eslint

feat(api): a
  .husky/pre-commit
  .husky/pre-push
Due: none

feat(api): a
  .lintstagedrc.js
Due: eslint

feat(api): a
  .husky/pre-push
Due: none

feat(api): a
  .eslintrc.js
  .husky/pre-push
Due: eslint

feat(api): 本地
  .gitignore
  api/index.js
  server.js
  src/App.vue
  vite.config.js
Due: eslint, stylelint

feat(api): a
  .vscode/settings.json
Due: none

fix(deps): element-plus
  index.html
  package-lock.json
  package.json
  src/App.vue
  src/main.js
  vite.config.js
Due: eslint, stylelint

Update push.yml
  .github/workflows.back/push.yml
Due: none

feat(api): build(deps): update package
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  vite.config.js
Due: eslint, stylelint

build(deps): feat(api): build(deps): update package
  package.json
Due: none

feat(api): stylelint
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: eslint, stylelint

build(deps): stylelint
  .eslintrc.js
  .stylelintrc.js
  .vscode/settings.json
  index.html
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.js
  src/styles/global.css
  src/styles/global.scss
  src/styles/index.scss
  src/styles/mobile.css
  src/styles/mobile.scss
  vite.config.js
Due: eslint, stylelint

fix(hooks): package
  package-lock.json
Due: none

fix(deps): package
  .husky/pre-push
  package.json
  yarn.lock
Due: none

perf(hooks): config
  vite.config.js
Due: eslint

style(hooks): eslint
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: eslint, stylelint

feat(hooks): images
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/App.vue
  vite.config.js
Due: eslint, stylelint

fix(api): merge
  .eslintignore
  .eslintrc.js
  auto-imports.d.ts
  jsconfig.json
  package-lock.json
  package.json
  src/App.vue
  src/main.js
  vite.config.js
  yarn.lock
Due: eslint, stylelint

feat(api): fix(api): merge
  vite.config.js
Due: eslint

feat(api): report
  vite.config.js
Due: eslint

fix(api): 减去element plus校验
  vite.config.js
Due: eslint

:zap: test
  commitlint.config.js
Due: eslint
